#gallery-page {
    position: relative;
    width: 60vw;
    height: 100dvh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    #gallery-page {
        width: 100vw;
    }
}

.float-wrap {
    position: absolute;

    &.bottom-left {
        inset: auto auto 30px 30px;
    }

    &.bottom-center {
        inset: auto auto 30px 50%;
        transform: translateX(-50%); 
    }

    &.bottom-right {
        inset: auto 30px 30px auto;
    }
}